{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h4>Hema Lankipalli </h4>
<p>My belief "You are confined only by the walls you build yoursel"</p>
<p>Being a 90s kid, I have had the pleasure of witnessing the growth of the ever-changing world of technology. 
    I have witnessed the change from Yahoo search to Google search, 
    from Windows 98 to Windows 10, from bulky desktops to sleek iPods', 
    from SQL Databases to No-SQL Databases
    </p>
<h5>Hobbies</h5>
<p>Cooking is one of my favourite hoobie that i preffer to cheer myfelf up. </p>
<p>I believe cooking gives me more pleasure and relax my mood and gives me strength to work more </p>
<p>Crafting is another hobbie where i can create my own photo frames and wall stickers and many more. This makes me more creative all the time </p>


{% endblock %}
