{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    2231 Live Oak St.<br />
    Commerce, TX, 75428<br />
    <abbr title="Phone">P:</abbr>
    939-296-6030
</address>

<address>
    <strong>Mail Address:</strong>   <a href="mailto:Support@example.com">hemachowdarylankipalli@gmail.com</a><br />
    <strong>Educational Mail:</strong> <a href="mailto:Marketing@example.com">hlankipalli@leomail.tamuc.edu</a>
</address>

{% endblock %}
