{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h4>Hema Lankipalli </h4>
<h3>Graduation</h3>
<p>
    Im currently pursuing Master's Programme in Texas A&M University-Commerce majoring in computer science.</p>
<h3>Under Graduation</h3>
<p>
    My Batchelor's degree is completed in Sreenivasa Institute of Technology And Management Studies major in Computer Science.
</p>
<h3>Higher Studies</h3>
<p>
    Schooling and Higher studies are completed in Sri Vivekananda High School and Mangal Junior College
</p>



{% endblock %}
