{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h1>Mini Projects</h1>
<h2>Car Controlling using Arduino</h2>
<p>
    Controlling robot motions using mobile phone with the help of Arduino microprocessor and Bluetooth.
    The Robotic Car moments are instructed through voice commands using phone, Car receiver performs its action based on the commands passed.
</p>
<h1>Main Projects</h1>
<h2>Combined charge difficulties evaluation and testees for intelligence reckoning</h2>
<p>
    Appraisal process for validating a person’s intelligence by taking different tests for testees by applying artificial intelligence.
    The report will be shown in the form of graphical representation.
</p>
<h1>Working project</h1>
<h2>BCBSNC-State Health Migration</h2>
<p>
    Health insurance provided by the banks to the state people through BCBSNC.
    Under Cognizant Technology Solutions My responsibilities in the project are validating job statistics and prod extractions
</p>
{% endblock %}
